@import 'reset.css';
@import 'layout.css';
@import 'module.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Lato', sans-serif;
}
p, a, label, input::placeholder, button, textarea{
    font-size: 15px;
}
a{
    text-decoration: none;
}
button, a{
    outline: none;
}