<%- include('../layout/head') %>
<%- include('../layout/header') %>
<main>
    <div class="error-meesage">
        <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Something went wrong. </h1>
    </div>
    <div class="submit-btn">
        <a href='/' class="btn">Go to Homepage</a>
    </div>
</main>

<%- include('../layout/footer') %>