<header>
    <nav>
        <div>
            <a href="/"><h1>Best Books!</h1></a>
        </div>
        <div class="toggle-icon">
            <button id="hamburgerIcon"><i class="fa fa-bars" aria-hidden="true"></i></button>
        </div>
    </nav>
    <div class="links-block" id="linksBlock">
        <ul class="links-block-visible">
            <a href="/">Home</a>
            <a href="/search/new">Search</a>
        </ul>
    </div>
</header>
<section class="title-section">
    <h1><%= pageName %></h1>
</section>